::-webkit-scrollbar {
  width: 24px;
}

::-webkit-scrollbar-track {
  background: var(--light);
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: var(--dark);
  border-radius: 100vw;
  border: 6px var(--light) solid;
}
