* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

::selection {
  color: var(--light);
  background-color: var(--dark);
}

body{
  min-height: 100vh;
  color: var(--dark);
}

.grainy {
  background-color: var(--light);
  background-image: url("../asset/nnnoise.svg");
}
